<!DOCTYPE html>
<html>
  <head>
    <title>Login | Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hii Valid User</h1>
    <a href="/logout">logout</a>
  </body>
</html>