<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h2>List of All Details.</h2>
    <div>
      <form action="/movie" method="post">

        <label for="Name">Movie </label>
        <input type="text" value="" name="Name">

        <label for="story">Story </label>
        <input type="text" value="" name="Story">

        <label for="rdate">Release </label>
        <input type="text" value=" " name="Release">

        <label for="director">Director </label>
        <input type="text" value="" name="Director">

        <label for="rdate">Writers </label>
        <input type="text" value=" " name="Writers">

        <label for="Stars">Stars </label>
        <input type="text" value="  " name="Stars">

        <label for="rating">Rating </label>
        <input type="text" value="  " name="Rating">

        <input type="submit" value="Submit">
      </form>
    </div>
    <a href="/logout">logout</a>
  </body>
</html>